#contact {
  position: relative;
  background-color: $color-linen;
  min-height: calc(100vh - 125px);

  figure.arch:not(.golden) {
    position: absolute;
    bottom: 0;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .left-side {
    position: relative;
    height: calc(100vh - 125px);

    figure {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.5rem;
      transform: translate(-50%, -50%);

      p a {
        font-family: $font-family-heading;
        color: $text-color-light;
        text-transform: uppercase;
        text-decoration: none;
        white-space: nowrap;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .right-side {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    h2 {
      font-size: $font-size-xxl;
      width: 100%;
      text-align: left;
      padding: 0 20px 2rem;
    }

    button {
      width: calc(100% - 40px);
    }
  }
}

@media screen and (min-width: 620px) {
  #contact {
    .right-side {
      h2 {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #contact {
    .filter {
      display: none;
    }

    .contact-form {
      position: relative;
      width: 50%;
    }

    .left-side {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .content {
        padding: 6rem 7rem;
        background-color: $color-brown;
      }
    }

    .right-side {
      position: relative;
      left: 100%;
      width: 100%;
      height: 100%;

      figure.arch {
        display: none;
      }

      h2 {
        font-size: $h2-font-size;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  #contact {
    min-height: calc(100vh - 163px);
  }
}
