#contact {
  background-color: $color-linen;
  min-height: calc(100vh - 125px);

  .content-wrapper {
    height: 100%;
    max-height: 100vh;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .left-side {
    position: relative;
    height: calc(100vh - 125px);

    figure {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      transform: translate(-50%, -50%);

      p {
        font-family: $font-family-heading;
        color: $text-color-light;
        text-transform: uppercase;
      }
    }
  }

  .right-side {
    position: relative;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h2 {
      font-size: $font-size-xxl;
      width: 100%;
      text-align: left;
      padding: 0 20px 2rem;
    }
  }
}

@media screen and (min-width: 620px) {
  #contact {
    .right-side {
      h2 {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #contact {
    .contact-form {
      position: relative;
      width: 50%;
    }

    .left-side {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .right-side {
      position: relative;
      left: 100%;
      width: 100%;
      height: 100%;

      figure.arch {
        display: none;
      }

      .content-wrapper {
        width: 100%;
        height: 100%;
      }

      h2 {
        font-size: $h2-font-size;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  #contact {
    min-height: calc(100vh - 163px);
  }
}
