form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

input,
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid $color-dark;
  background: none;
  padding: 1rem;

  &::placeholder {
    color: $text-color-dark;
    opacity: 1;
  }

  &:focus-visible {
    outline: none;
    border-bottom: 2px solid $color-dark;
  }
}

textarea {
  resize: none;
}

.checkbox {
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-size: $font-size-sm;
    padding: 1rem 0;

    input[type='checkbox'] {
      width: 1rem;
      height: 1rem;
    }
  }
}

button {
  text-transform: uppercase;
  width: calc(100% - 40px);
  padding: 1.5rem 0;
  margin-top: 2rem;
  border: 1px solid $color-brown;
  cursor: pointer;
  font-weight: $font-weight-medium;
  transition: all 0.5s ease;

  &.light {
    color: $text-color-brown;
    background-color: transparent;

    &:hover {
      color: $text-color-light;
      background-color: $color-brown;
    }
  }

  &.dark {
    color: $text-color-light;
    background-color: $color-brown;

    &:hover {
      color: $text-color-brown;
      background-color: transparent;
    }
  }
}
