#home {
  &.content-wrapper {
    display: flex;
    flex-direction: column;
  }

  figure {
    width: 90%;
    aspect-ratio: 1.5/1;
    padding-top: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    text-align: left;
  }

  h2 {
    width: 90%;

    span {
      color: $text-color-brown;
    }
  }

  p {
    &.intro-text {
      color: $text-color-brown;
      text-transform: uppercase;
    }

    &.info-text {
      width: 90%;
    }
  }

  #title {
    position: relative;
    width: 100%;
    height: 100vh;

    figure {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0;
    }

    .text-content {
      position: absolute;
      top: 50%;
      left: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      transform: translate(-50%, -50%);
      width: clamp(300px, 700px, 90%);

      h1,
      h2,
      p {
        color: $text-color-light;
        text-align: center;
      }

      p {
        font-size: $font-size-base;
        text-transform: uppercase;
      }
    }
  }

  #for-clients {
    h2,
    p.intro-text {
      width: 90%;
      text-align: left;
    }
  }

  #for-clients,
  #investment,
  #projects {
    .container {
      padding: 10rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }

  #investment {
    background-color: $color-dark;

    h2,
    h3,
    p {
      color: $text-color-golden;
    }

    p {
      &.intro-text {
        color: $text-color-light;
      }
    }

    figure {
      padding-bottom: 40px;
    }

    .grid-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4rem;
      width: 90%;
      padding-top: 5rem;
    }

    .grid-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  #projects {
    .vertical-delimiter {
      background-color: $color-dark;
    }

    .row {
      position: relative;
      display: flex;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      aspect-ratio: 1 / 1.65;

      &:hover {
        img {
          filter: grayscale(60%) blur(5px) brightness(0.75);
        }

        figure::after {
          opacity: 1;
          inset: 20px;
        }

        .content h3 {
          scale: 1;
          opacity: 1;
        }
        .content p {
          opacity: 1;
          transform: translateY(0);
        }
      }

      figure {
        position: relative;
        display: flex;
        justify-content: center;
        aspect-ratio: 1/1.65;
        width: 100%;
        padding: 0;
        max-height: 100vh;

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          border: 2px solid $color-light;
          border-radius: inherit;
          opacity: 0;
          transition: 0.4s ease-in-out;
        }

        img {
          transition: 0.5s ease-in-out;
        }
      }

      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        transform: translate(-50%, -25%);
        width: 70%;
        gap: 1rem;

        h3,
        p {
          opacity: 0;
          transition: 0.4s 0.2s ease;
          color: $text-color-light;
        }

        h3 {
          scale: 0.7;
        }

        p {
          transform: translateY(50%);
        }
      }

      &.row-reverse {
        flex-direction: row-reverse;
      }
    }
  }
}

@media screen and (min-width: 650px) {
  #home {
    p {
      &.info-text {
        width: 60%;
        text-align: center;
      }
    }

    figure {
      padding-top: 10rem;
    }

    #title {
      .text-content {
        p {
          font-size: $font-size-md;
        }
      }
    }

    #for-clients {
      h2,
      p.intro-text {
        text-align: center;
      }
    }

    #investment {
      figure {
        padding-bottom: 10rem;
      }
    }

    #projects {
      .row {
        aspect-ratio: initial;

        &:hover {
          img {
            filter: none;
          }
        }

        figure,
        .content {
          width: 50%;
        }

        figure {
          width: initial;
          max-height: 730px;

          &::after {
            content: none;
          }
        }

        .content {
          position: relative;
          top: initial;
          left: initial;
          transform: initial;
          flex-direction: column;
          justify-content: center;
          max-width: 420px;

          h3,
          p {
            scale: 1;
            opacity: 1;
            color: $text-color-dark;
          }

          p {
            transform: translateY(0);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #home {
    h2 {
      width: 70%;
    }

    #for-clients,
    #investment,
    #projects {
      .container {
        padding: 270px 0;
      }
    }

    #investment {
      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .grid-item {
          p {
            width: 80%;
          }
        }
      }
    }

    #projects {
      .row {
        gap: 7rem;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  #home {
    figure {
      width: 100%;
    }
  }
}
