* {
  font-size: $font-size-base;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $text-color-dark;
}

@each $header, $font-size in $font-size-headers {
  #{$header} {
    font-size: $font-size;
    font-family: $font-family-heading;
    color: $text-color-dark;
    text-transform: uppercase;
    font-weight: $font-weight-normal;

    span {
      font-size: $font-size;
      font-family: $font-family-heading;
      color: $text-color-dark;
      text-transform: uppercase;
      font-weight: $font-weight-normal;
    }
  }
}

@each $header, $line-height in $line-height-headers {
  #{$header} {
    line-height: $line-height;
  }
}

h1 {
  letter-spacing: 10px;
}

h2 {
  text-align: center;
}

a {
  &:hover {
    text-decoration: underline;
  }
}
